@import "src/variables";

.container {
  height: 100%;
  padding: 6rem 2rem;
  font-size: 1.7rem;

  &_squads {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 2rem;
    margin-top: 2rem;
  }
}

h1 {
  @include title;
}
